header {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:1em;

    h2 {
        color: white;
    }
}


@media screen and (min-width: 768px) {
    header {
    flex-direction: row;
    }
}