
$color-primary : #3f51b5;

nav.navigator {
    display: flex;
    justify-content: space-around;
    max-width: 20em;
    align-items: center;
    margin: 0 auto !important;
     a {
        padding: 0.5em 1em;
        text-decoration: none;
        color: white;

        &.active {
            color: $color-primary;
            background-color:white;
        }

        &:hover {
            color: $color-primary;
            background-color:rgb(203, 203, 203);
          }
     }

}


@media screen and (min-width: 768px) {
    nav.navigator {

        a {

    font-size: 1.25em;
}
    }
}