*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


nav {
  display: flex;
  justify-content: space-evenly;
  max-width: 40em;
  align-items: center;
  margin: 0 auto !important;
  a {
    text-decoration: none;
    padding: 1em;
    font-size: small;
    color: white;
  }
}


article.home {
  ul {
    padding: 0;
    li {
      list-style-type: none;
 
    }
  }
}
header {
margin: 0 auto;
}



img {
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  margin: 0.5em auto !important;
}


main {
  margin-top: 8em;
}



Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  margin: 0 auto !important;
}


main {

  h1{
    font-size: 5em;
  }
}

ul {
  list-style-type: disc;

    p strong {
      width: 5rem !important;
    }

}

Footer {
  text-align: center;
}